/* Header Title */
.header {
	// padding: 30px 0;
	color: white;
	h1 {
		font-size: 50px;
	}

	/* Style the top navigation bar */
	.topnav {
		height: 3em;
		text-align: center;
		padding-top: 10px;
		overflow: hidden;
		background-color: #333;
	}
}
